# Global tags can be specified here in key="value" format.
[global_tags]

# Configuration for telegraf agent
[agent]
  interval = "30s"
  round_interval = true
  metric_batch_size = 1000
  metric_buffer_limit = 10000
  flush_interval = "30s"

  precision = ""
###############################################################################
#                            OUTPUT PLUGINS                                   #
###############################################################################
[[outputs.influxdb_v2]]
  ## The URLs of the InfluxDB cluster nodes.
  ##
  ## Multiple URLs can be specified for a single cluster, only ONE of the
  ## urls will be written to each interval.
  ##   ex: urls = ["https://us-west-2-1.aws.cloud2.influxdata.com"]
  urls = ["http://localhost:{{ influxdb_port }}"]

  ## API token for authentication.
  token = "{{ telegraf_influxdb_api_token }}"

  ## Organization is the name of the organization you wish to write to; must exist.
  organization = "{{ telegraf_organization }}"

  ## Destination bucket to write into.
  bucket = "{{ telegraf_bucket }}"

###############################################################################
#                            INPUT PLUGINS                                    #
###############################################################################

# HTTP/HTTPS request given an address a method and a timeout
{% if telegraf_http_ping_urls | string | length %}
[[inputs.http_response]]
  urls = [{{ telegraf_http_ping_urls }}]
{% endif %}